
.todos{
  display:flex;
  flex-direction:column;
  max-width:640px;
  margin:3em;
  padding:1.5em;
  background-color:white;
  border-radius:0.25em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}
.todo-update{
  display:flex;
  flex:1;
  margin-right:1em;
}
.todo .id {
	flex: 1 1 50px;
  display: flex;
  align-items:center;
}

.todo .content {
	flex: 1 1 100%;
  display: flex;
  align-items:center;
}
.todo .content > input{
  background:transparent;
  border:none;
  outline:none;
  appearance: none;
}
.todo.done .content > input{
	text-decoration: line-through;
  color: #FE4880;
}
.todo-inline{
  display:flex;
  align-items:center;
  width:auto;
  margin-bottom:2em;
}
.todo-input {
  display:inline-flex;
  flex:.75;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}
.todo-order{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-left:1em;
  margin-top:1.5em;
  height:2.4em;
  width:2.4em;
	appearance: none;
	border: 1px solid  #FE4880;
  border-radius:100%;
	outline: none;
	background: none;
	padding: 4px;
	background-color:white;
  color: #121212;
  font-size:0.9rem;
  font-weight:800;
}
.todo-edit{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-left:1em;
	appearance: none;
	border: none;
  border-radius:0.25em;
	outline: none;
	background: none;
	padding: 10px 15px;
	background-color: #FE4880;
  color:white;
  font-size:0.8rem;
}
.todo-remove {
  background-color:white;
  border: 1px solid  #FE4880;
  border-radius:0.25em;
  font-size: 0.9rem;
  font-weight:500;
  color:dimgrey
}
.todo-submit {
  display:flex;
  align-items:center;
  width:auto;
	appearance: none;
	border: none;
  border-radius:0.25em;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin-top: 18px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}