<div class="todos">

  <form (submit)="addTodo()">
    <div class="todo-inline">
    <input type="text"
           name="inputTodo"
           placeholder="Enter Todo ..."
           class="todo-input"
           [(ngModel)]="inputTodo"
          />
    <input type="button"
           name="order-up"
           value="&#8593;"
           class="todo-order asc"
           />
    <input type="button"
           name="order-down"
           value="&#8595;"
           class="todo-order dsc"
           />
    </div>
    <input type="submit"
           value="Save Todo"
           class="todo-submit" 
                />
  </form>

  <div *ngFor="let todo of todos; let i = index;"
       class="todo {{ (todo.completed ? 'done' : '') }}">

    <div class="id">{{ i }}</div>
    <div class="content"
         (click)="toggleDone(i)">{{ todo.content }}
    </div>
    <button class="todo-remove" 
            (click)="deleteTodo(i)">Delete
    </button>
    <button class="todo-edit"
            (click)="editTodo()">Edit
    </button>

  </div>

</div>