.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
  display: flex;
  align-items:center;
}

.todo .content {
	flex: 1 1 100%;
  display: flex;
  align-items:center;
}

.todo.done .content {
	text-decoration: line-through;
  color: #FE4880;
}
.todo-inline{
  display:flex;
  align-items:center;
  width:auto;
  padding-right:1em;
}
.todo-input {
/*	display: block; */
  display:inline-flex;
/*	width: 100%; */
  flex:.75;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}
.todo-order{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-left:1em;
  margin-top:1.5em;
  height:2.4em;
  width:2em;
	appearance: none;
	border: 1px solid  #FE4880;
  border-radius:100%;
	outline: none;
	background: none;
	padding: 4px;
	background-color:white;
  color: #121212;
  font-size:0.9rem;
  font-weight:800;
}
.todo-edit{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-left:1em;
	appearance: none;
	border: none;
  border-radius:0.25em;
	outline: none;
	background: none;
	padding: 10px 15px;
	background-color: #FE4880;
  color:white;
  font-size:0.8rem;
}
.todo-remove {
  background-color:white;
  border: 1px solid  #FE4880;
  border-radius:0.25em;
  font-size: 0.9rem;
  font-weight:500;
  color:dimgrey
}
.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}