<div class="todos">

  <form (submit)="addTodo()">
    <div class="todo-inline">
    <input type="text"
           name="inputTodo"
           placeholder="Enter Todo ..."
           class="todo-input"
           [(ngModel)]="inputTodo"
          />
    <input type="button"
           name="order-up"
           value="&#8593;"
           class="todo-order asc"
           />
    <input type="button"
           name="order-down"
           value="&#8595;"
           class="todo-order dsc"
           />
    </div>
    <input type="submit"
           value="Save Todo"
           class="todo-submit" 
                />
  </form>

  <div *ngFor="let todo of todos; let i = index;"
       class="todo {{ (todo.completed ? 'done' : '') }}">
  <div class="todo-update">
    <div class="id">{{ i }}</div>
    <div class="content">
       <input type="text"
         (click)="toggleDone(i)"
         [value]="[todo.content]"
         />
    </div>
  </div>
    <button class="todo-remove" 
            (click)="deleteTodo(i)">Delete
    </button>
    <input type=button 
           class="todo-edit"
           value="Edit"
           
      />

  </div>

</div>